# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=
GROQ_API_KEY=
TAVILY_API_KEY=
GITHUB_TOKEN=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# MongoDB
MONGODB_ATLAS_URI=
MONGODB_ATLAS_COLLECTION_NAME=
MONGODB_ATLAS_DB_NAME=

OPENAI_API_KEY=